<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Commercialisation</title>
        <link rel='stylesheet' href='../../css/commercialisation.css' />
    </head>
    <body>
       <div class="container">
            <h1 class='heading1' id='heading1'>Can this be Commercialised?<img
                src='../../images/comm_icon.png'
                alt='Idea turning into innovation!'
                class='comm_icon'
            /></h1>
            {{!-- <button id="changeTheme" class="changeTheme">Change Theme</button> --}}
        <p class="para1" id="para1">Ofcourse! whatever we have seen in Demostation page, that calculations are very simple yet very powerful. Not only that this can have wide variety of applications in multiple domains. Like one of the important sector in which this kind of Study helps is Wild-Life. <br><br>
        This study of digraph tells us about how certain things are dependent on others. So as we know that today because of many reasons say many animals are facing adverse effects. Many animals are on verge of extinction. And if we loose any one species it is not that we only looses that species, but what is the cost to be paid is too much. All the animals in any ecosystem are important. And extinction of any one species also causes huge imbalance to that whole ecosystem. </p>

        <p class="para2">
            <span class="spe">Let's take an example... What happens if tigers go extinct?</span>
            <br>
            Tiger is very unique animal which plays a very important role in health and diversity of an ecosystem. It is top predator which is at the apex of Food-Chain, and keeps the population of wild animals in check. Now if someday tigers go extinct what happens is entire ecosystem will collapse. For some early days we see the sudden rise in population of animals which were food for tigers but soon there population would increase drastically that somehow they will generate food shortage for themselves. And eventually dies.
            <br><br>
            <span class="spe">This ain't that simple thing but main idea is to understand how whole ecosystem is inter-related.</span>
        </p>
        <h2 class="heading2" id="heading2">Stop...Stop... <br>Let's move to commercialisation part now...</h2>
        <p class="para3" id="para3">So we have seen there is a problem. This can be solved by creating a <span class="spe">software which will do the similar analysis as we did in Demostation page, but on a large scale for larger ecosystem, consisting of large number of animal species.</span> Also software should be such that it should constantly monitor the change in population of any particular species, and should also immediately propose the necessary steps to be taken by resoponsible authorities. This way this kind of Software can be very useful in Wild-Life management</p>
        <h3 class="heading3" id="heading3">Who are targeted group of customers?</h3>
        <ul>
            <li>Authorities of Forest department.</li>
            <li>Authorities related to Aquatic life management.</li>
            <li>Wild-Life Scientists.</li>
            <li>NGO-s who work for Wild-Life protection</li>
        </ul>
        <h2 class="heading4" id="heading4">Alternate application:</h2>
        <p class="para5" id="para5">
            The similar/same software can be used in many other applications as well. Like in many estimation problems where certain things are dependent on other things. because this software is purely application of <span class="spe">Graph-Theory.</span>
            One of important domains is in Stock investment prediction. Like if one company say A, is having three different plans of investment. Each plan with three sections as - High risk, low risk and medium risk. Then the calculations of which plan would yield max return, which the least return can be done easily using similar matrix operations on Adjency matrix. Ofcourse this example is simple, but similar kind of larger problems can be solved using similar and optimized software.
        </p>
       </div>
        {{>marquee}}
    </body>
    <script>
        document.getElementById('changeTheme').addEventListener('click', ()=>{
            let body = document.body;
            body.classList.toggle('darkmode')
        })
    </script>
</html>