<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Demostation</title>
        <link rel='stylesheet' href='../../css/demonstrate.css' />
        <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    </head>
    <body>

         <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Food Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="./">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="./history">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./demonstrate">Live Demonstration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./references">Attatchments and References</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="./commercialisation">Commercialisation</a>
                        </li>
                </div>
            </div>
        </nav>
    </div>
        <div class="container1">
           <div class="bg-cont">
                <h1 class='heading1'>Problem Statement:</h1>
        {{!-- <button id="changeTheme" class="changeTheme">Change Theme</button> --}}
        <p class='para1'>As we all know that each living being on this planet is
            in some way dependent on any other animals or plants (for food). But how this
            balance of dependency is maintained? And how can one perform
            systematic analysis of this dependecies? How do someone can predict
            if some of important animals are getting endangered just because
            some later animals on which former ones are dependent?
        </p>
        <h1 class='heading2'>Solution/Approach:</h1>
        <p class='para2'><span class='spe'>See here's the way... <br></span>Our
            Project will take you through the journey, and with some
            mathematical interactions we will explain you these concepts by
            taking simple examples.
            <spen class='spe'>So waiting for what?</spen>
            Let's jump into it, by clicking on
            <span class='spe'>start</span>
            <br><button
                id='start-button'
            >Start</button></p>
           </div>
        <div class="bg-cont">
            <p class='para3' id='para3' style='visibility: hidden;'>If we see
            <span class='spe'>Food-Web</span>. Which is definded as
            <span class='spe'>A diagram for an ecosystem that shows the
                relationships between different organisms by graphically
                displaying what eats what.</span>
            <br />
            Below is an image of one such small
            birds/insects/plants/small-animals ecosystem.
            <br />
            <img
                class='img-graph'
                src='../../images/graph.jpg'
                alt='Sorry, graph not found :('
            />
            <br />
            <br />
            Here one can see each creature has been given a certain number.
            <span class='spe'>This numbers will represent index of that animal in for
                analysis</span>. Now see below a Sqaure matrix, which consists
            of only
            <span class='math'>zeros</span>
            and
            <span class='math'>ones</span>. This matrix is known as Adjency
            Matrix. To construct such as Adjency matrix, one first needs to know
            number of Creatures in any ecosystem which will represents the
            dimensions of Adjency matrix. Then on looking on Food-Web graph one
            can easily identify, that which creature survives on which another
            creature. And looking on that one can assigns
            <span class='math'>ones</span>
            to particular cell of Adjency matrix. If we consider rows of an Adjency matrix as i
            and columns as j. Then by following a rule
            <span class='spe'>i eats j implies
                <span class='math'>one</span></span>.
            <br />
            <br />
            So if in any cell there is one, this means that animal representing
            that ith row, will eat animal representing jth column. And so based on
            this same principle we can construct a matrix as shown below, for
            the Food-Web like shown above.
            <br>
            <button class='btn2' id='btn2'>Get the Adjency-matrix</button>
        </p>
        </div>
        </div>
        <h3
            class='heading3'
            id='heading3'
            style='visibility: hidden;'
        >Adjency-Matrix for the above Food-Web</h3>
        <table id='table' style='visibility: hidden;'>
            <th>
                <tr class='thead' id='thead'></tr>
            </th>
            <tbody id='body'></tbody>
        </table>

        <div class="bg-cont">
            <div class="container1">
            <p class='para4' id='para4' style='visibility: hidden;'>After looking at
            whatever we seen, one can say that
            <span class='spe'>Adjency matrix gives the information about the
                direct sources of food. Like which creature is directly
                dependent on which other creature for food.</span>
                <br><button
                class='btn3'
                id='btn3'
            >Get the Sqaured Adjency-matrix
            </button>
            <br />
            <br />
            Now on carefully observing this matrix one can say that
            <span class='spe'>Creatures belonging to indexes 1 to 4 these does
                not depend on any other creatures.</span>
            This are some kind of plants and creates their own food through
            photosynthesis. But as we go down no of one's in row increases.
            Which shows food dependencies. For example if see
            <span class='spe'>row 10 (Frog) depends on cloumns 5 (Fruit-Fly), 6
                (Butter-Fly), 7 (Grass-Hopper) and 8 (Dragon-Fly).</span>
            This way this kind of Adjecny matrices become very helpful in
            understanding the Food-Web inter species dependecies on Food. Also
            this method can be scaled to any size of Food-Web just the
            dimensions of matrix will increase the complexity won't increase to
            much extent as the basic principle remains the same.
        </p>
        </div>
        </div>
        <h3 class='heading4' id='heading4' style='visibility: hidden;'>Sqaure of
            Adjency-Matrix</h3>

        <table id='table2' style='visibility: hidden;'>
            <th>
                <tr class='thead2' id='thead2'></tr>
            </th>
            <tbody id='body2'></tbody>
        </table>
        <div class="bg-cont">
            <div class="container1">
            <p class='para5' id='para5' style='visibility: hidden;'>
            Here we have Square of Adjency matrix. This tells us
            <span class='spe'>about the indirect sources (means those sources of
                food, which the creature does not directly consumes, but its
                direct resource depends on that creature) of Food for any
                particular creature.</span>
            Like if we take example of
            <span class='spe'>row 10 (Frog) it has ones in cloumns 1 (Corn) , 2
                (Flowered Plants) , 3 (Lavenders), 5 (Fruit-Fly) and 6
                (Butter-Fly). This are all the creature/plnats which are not
                directly consumed by the Frog but its direct sources are
                dependent on this things so even it matters for Frog that this
                resources sustain.</span>
            Also observe that column 4 (Mangoes) is numbered two. Which means
            that Frog has some source that is directly dependent on Mangoes. On
            looking at the Graph, we found that creature is Fruit-Fly. So this
            we one can do a detailed analysis on indirect food resources of any
            creature by looking at its Square of Adjency
            <br>
            <button class="btn4" id="btn4">Get the Total Dependecies</button>
        </p>

        <p class='para6' id="para6" style='visibility: hidden;'>
            When we add above two matrices we get the Matrix that represents
            overall food sources of any creature.
            <span class='spe'>This gives complete information about the overall
                dependecies including direct and indirect Food sources.
            </span>See below is depeiction of that matrix.
        </p>
        </div>
        </div>
        <h3 class="heading5" id="heading5" style="visibility: hidden;">Complete Food sources:</h3>

        <table id='table3' style='visibility: hidden;'>
            <th>
                <tr class='thead3' id='thead3'></tr>
            </th>
            <tbody id='body3'></tbody>
        </table>

        {{>marquee}}
        <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    </body>
    <script src='../../script/demonstrate.js'></script>
</html>