:root {
    --dark-1: black;
    --dark-2: blue;
    --dark-3: green;
    --dark-4: red;
    --light-1: white;
    --light-2: lightpink;
    --lignt-3: grey;
    --light-4: whitesmoke;
}

.container-fluid {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-image: url(../images//bg_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Container */
.container {
    background-color: whitesmoke;
    margin: 4% 10%;
}

/* headings */
.heading1 {
    font-size: 3rem;
    margin: 2%;
    font-weight: 800;
    text-decoration: underline;
}
.heading3 {
    font-size: 1.7rem;
    margin: 2%;
    text-decoration: underline;
}
.heading2,
.heading4 {
    font-size: 2rem;
    margin: 2%;
    text-decoration: underline;
}

.comm_icon {
    margin-top: 1%;
    width: 30vh;
    margin-left: 1%;
}

/* Pragraphs */
.para1,
.para2,
.para3,
.para4,
.para5 {
    margin: 3% 4%;
    font-size: 1.5rem;
    font-weight: 550;
}

.spe {
    color: red;
    font-weight: 800;
}

.link {
    color: blue;
    font-weight: 800;
    text-decoration: none;
}
.link:hover {
    color: red;
    text-decoration: underline;
}
ul {
    margin: 2% 5%;
    font-weight: 600;
}

/* Theme toggle */
.changeTheme {
    position: fixed;
    top: 9%;
    left: 85%;
    border: 0.2rem solid black;
    border-radius: 2rem;
    box-shadow: black 2px 3px 4px 3px;
}

.darkmode {
    background-color: black;
    color: white;
}
