:root {
    --dark-1: black;
    --dark-2: blue;
    --dark-3: green;
    --dark-4: red;
    --light-1: white;
    --light-2: lightpink;
    --lignt-3: grey;
    --light-4: whitesmoke;
}

body {
    margin: 0%;
    box-sizing: border-box;
    background-image: url(../images/bg_img.jpg);
    background-size: cover;
    background-color: var(--light-2);
    background-repeat: no-repeat;
    font-family: cursive;
    letter-spacing: 0.09rem;
}

/* Containers */
.container1 {
    background-color: whitesmoke;
    padding: 2% 1%;
    margin: 4% 4%;
}

/* Table */
table tr td {
    margin: 80px;
    border: var(--dark-4) solid 2px;
    padding: 4px 8px;
    text-align: center;
    font-weight: 800;
}
table {
    border: var(--dark-1) solid 4px;
    padding: 3px 3px;
    margin: 5% auto;
    align-items: center;
}

/* headings */
.heading1,
.heading2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 2%;
    text-decoration: underline;
}

.heading3,
.heading4,
.heading5 {
    text-align: center;
    font-size: 1.8rem;
    text-decoration: underline;
}

/* Paragraphs */

.para1,
.para2,
.para3,
.para4,
.para5,
.para6 {
    font-weight: 600;
    margin: 1% 2%;
    text-justify: inter-cluster;
}

.img-graph {
    width: 50vw;
    height: 50vw;
    margin: 5% 19vw;
    border: ridge 0.7rem var(--dark-2);
    box-shadow: skyblue -5px 12px 14px 16px;
}
.spe {
    color: var(--dark-2);
    font-weight: 800;
    font-style: oblique;
}

.spe:hover {
    color: var(--dark-4);
    font-style: normal;
}

#start-button,
.btn2,
.btn3,
.btn4 {
    text-transform: uppercase;
    border-radius: 2rem;
    border: var(--dark-1) solid 3px;
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
    font-weight: 800;
    margin: 0.8rem 0.5rem;
    background-color: silver;
}

#start-button:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
    letter-spacing: 0.1rem;
    font-style: italic;
    padding: 0.25rem 0.45rem;
    background-color: slateblue;
    text-decoration: underline;
}
/* Theme toggle */
.changeTheme {
    position: fixed;
    top: 9%;
    left: 85%;
    border: 0.2rem solid black;
    border-radius: 2rem;
    box-shadow: black 2px 3px 4px 3px;
}

/* Dark-mode */

.darkmode {
    background-color: black;
    color: white;
}

.darkmode button,
.darkmode #start-button,
.darkmode .button {
    color: white;
    background-color: cornflowerblue;
    font-weight: 700;
}

.darkmode table tr td {
    border: 2px solid white;
}
