:root {
    --dark-1: black;
    --dark-2: blue;
    --dark-3: green;
    --dark-4: red;
    --light-1: white;
    --light-2: pink;
    --lignt-3: grey;
    --light-4: whitesmoke;
}

body {
    margin: 0%;
    box-sizing: border-box;
    background-image: linear-gradient(
        to bottom,
        white,
        lightpink,
        pink,
        lightpink,
        whitesmoke
    );
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

/* Table */
table tr td {
    margin: 80px;
    border: var(--dark-1) solid 2px;
    padding: 4px 8px;
    text-align: center;
    font-weight: 800;
}
table {
    border: var(--dark-1) solid 4px;
    padding: 3px 3px;
    margin: 5% auto;
    align-items: center;
}

/* headings */
.heading1,
.heading2 {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 2%;
    text-decoration: underline;
}

.heading3,
.heading4 {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
}

/* Paragraphs */

.para1,
.para2,
.para3,
.para4,
.para5 {
    font-weight: 600;
    margin: 1% 2%;
    text-justify: inter-cluster;
}
.para5 {
    margin-bottom: 5%;
}
.img-graph {
    width: 60vw;
    height: 550px;
    margin: 2% 19vw;
    border: ridge 0.5rem var(--dark-2);
}
.spe {
    color: var(--dark-2);
    font-weight: 800;
    font-style: oblique;
}

#start-button,
.btn2,
.btn3 {
    text-transform: uppercase;
    border-radius: 2rem;
    border: var(--dark-1) solid 3px;
    padding: 1px 3px;
    margin-left: 10px;
    background-color: silver;
}

marquee {
    color: rgb(5, 6, 8);
    font: caption;
    background-color: var(--light-2);
    position: fixed;
    bottom: 0%;
    margin: auto;
    padding: 0.2rem;
}
